/* Add CSS Styling */

.first {
    background-color: #000000;
    color: white;
}

.second {
    background-color: #FFFF00;
}

button {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}