* {
  font-size: 16px;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 2.5px;
}

.title {
  background: #e3f4ff;
  padding: 5px;
  margin: 5px;

}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin: 5px;
}

.button-container {
  background: #e3f4ff;
  display: block;
  text-align: center;
  padding: 8px;
}


button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0px auto;
  padding: 8px 24px;
}
